{% extends 'layout.html' %}
            {% block content %}
                <div class="justify-content-center">
                    <h3 class="" style="">User Profile</h3>

                    <form method="POST" action="{% url 'change_user_password' %}" id="change_user_password">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-6"><label class="form-label">Old Password</label>
                                <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Old Password" style="width: 100%;" 
                                    maxlength="20" required>
                            </div>
                            <div class="col-sm-6"><label class="form-label">New Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="New Password" style="width: 100%;" 
                                    maxlength="20" oninput="validateInput(this)" required>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">                                                
                            <div class="col-sm-6"><label class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Last Name" style="width: 100%;" 
                                    maxlength="20" oninput="validateInput(this)" required>
                            </div>
                        </div>
                        <button class="btn btn-primary" name="chamge_password" type="submit" style="margin-top:20px;">Change Password</button>
                    </form>
                </div>

                <script>
                    function validateInput(field) {
                        const fieldvalue = field.value;
                        
                        if (field.name==='password'){
                            // Regex to validate standard password
                            const regex = /^[a-zA-Z0-9!@#$&*^._%+-]{6,20}$/;
            
                            if (!regex.test(fieldvalue)){
                                field.setCustomValidity('Password must be 6-20 characters and can contain [a-zA-Z0-9!@#$&*^._%+-]');
                            }
                            else{
                                field.setCustomValidity('')
                            }
                        }
                        else if (field.name==='confirm_password'){
                            const password = $('#password').val()
            
                            if ( field.value != password ){
                                field.setCustomValidity("Password does not match")
                            }
                            else{
                                field.setCustomValidity('')
                            }
                        }
                        /*else if (field.name==='new_password'){
                            // Regex to validate standard password
                            const regex = /^[a-zA-Z0-9!@#$&*^._%+-]{6,20}$/;
            
                            if (!regex.test(fieldvalue)){
                                field.setCustomValidity('Your old Password was 6-20 characters and contains [a-zA-Z0-9!@#$&*^._%+-]');
                            }
                            else{
                                field.setCustomValidity('')
                            }
                        }*/
                        field.reportValidity()
                    }
            
                </script>
            {% endblock %}
                {% comment %} <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#ClinicModal">
                    Open Contact Form
                </button> {% endcomment %}
                
                            
                {% comment %} <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">S.no.</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Profile Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table> {% endcomment %}
            
    
    