{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary" style="background:#e6f7ff;">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center" style="min-height: 100vh; padding-top:18%;">

            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- Left Side with Background Image -->
                            <div class="col-lg-6 d-none d-lg-block" style="background-image: url({% static 'img/doctor-patient-management.webp' %}); background-size: cover; background-position: center; min-height: 50vh;">
                            </div>
                            <!-- Right Side with Form -->
                            <div class="col-lg-6">
                                <div class="d-flex flex-column justify-content-center p-5" style="height:100%;">
                                    <div class="text-center">
                                        <h3 class="h4 text-gray-900 mb-4">Change Password!</h3>
                                        {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>{{ message }}</strong>
                                                {% comment %} <button type="button" class="btn-danger btn-close" data-dismiss="alert" aria-label="Close" style="float:right; margin-top:-3px;">X</button> {% endcomment %}
                                            </div>
                                            {% else %}
                                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                                <strong>{{ message }}</strong>
                                                {% comment %} <button type="button" class="btn-{{message.tags}} btn-close" data-dismiss="alert" aria-label="Close" style="float:right; margin-top:-3px;">X</button> {% endcomment %}
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <form class="user" action="{% url 'change_password' token=token %}" method='POST'>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="password" name="password" 
                                                placeholder="Enter your password here..." maxlength="20" minlength="6" oninput="validateInput(this)" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="confirm_password" name='confirm_password' 
                                                placeholder="Renter your password here..." maxlength="20" minlength="6" oninput="validateInput(this)" required>
                                        </div>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Change Password">
                                    </form>
                                    
                                    <hr style="width:100%">
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    
    <script>
        function validateInput(field) {
            const fieldvalue = field.value;
            if (field.name==='password'){
                // Regex to validate standard password
                const regex = /^[a-zA-Z0-9!@#$&*^._%+-]{6,20}$/;

                if (!regex.test(fieldvalue)){
                    field.setCustomValidity('Password must be 6-20 characters and can contain [a-zA-Z0-9!@#$&*^._%+-]');
                }
                else{
                    field.setCustomValidity('')
                }
            }
            else if (field.name==='confirm_password'){
                const password = $('#password').val()

                if ( field.value != password ){
                    field.setCustomValidity("Password does not match")
                }
                else{
                    field.setCustomValidity('')
                }
            }
            field.reportValidity()
        }

    </script>

</body>

</html>
