{% extends 'layout.html' %}
            {% block content %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        {% if request.user.is_superuser or request.user.is_admin%}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Patients
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_patients|default:0}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-diagnoses fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Earnings (Monthly) Card Example fa fa-user-md -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total Staffs</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_staffs|default:0}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user-md fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            {% if request.user.is_superuser %}
                                                Clinics
                                            {% else %}
                                                Pending Payments
                                            {% endif %}
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {% if request.user.is_superuser %}
                                                            {{total_clinics|default:0}}
                                                        {% else %}
                                                            {{total_pending_payments|default:0}}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            <!--
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            -->
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            {% if request.user.is_superuser %}
                                            <i class="fas fa-clinic-medical fa-2x text-gray-300"></i>
                                            {% else %}
                                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Filter -->
                    <div class="row" style="margin-bottom:20px; margin-left:0px;">
                      <h1 class="h3 mb-0 text-gray-800">Filter Records: </h1>
                      
                      <form class="form-inline" id="filter_form">
                        <div class="form-group" style="margin-left:20px;">
                          <select class="form-control" name="clinic" id="clinic">
                            {% if request.user.is_superuser %}
                              <option value="0">All</option>
                            {% endif %}
                            {% for cl in clinics %}
                              <option value="{{cl.0}}">{{cl.1}}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div class="form-group" style="margin-left:20px;">
                          <select class="form-control" name="filter" id="filter">
                            {% for filtr in filters %}
                              <option value="{{filtr.0}}">{{filtr.1}}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div class="form-group" style="margin-left:20px;">
                          <button class="btn cb" type="button">
                            <i class="fas fa-search fa-sm custome-color-white"></i> Filter
                          </button>
                        </div>
                      </form>
                    </div>
                    <!-- End Filter -->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Month wise Income Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview Line chart</h6>
                                  <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="incomeLineChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Yearly Patients Gender wise Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Patients Gender Wise</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="GenderWisePieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Male
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Female
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Other
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Unknown
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Month wise Patients Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Patients Overview Line chart</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" id="scrollWrapper">
                                    <div class="chart-area" id="canvasContainer">
                                        <canvas id="patientLineChart" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Yearly Patients age wise Pi chart-->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Patients Age Wise</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="AgeWisePieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Child
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Teen
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Adult
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Senior
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Unknown
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- bar chart-->
                    <div class="row">
                        <!-- Month wise Patients Bar Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earning Overview Bar chart</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" id="scrollWrapper">
                                    <div class="chart-area">
                                        <canvas id="incomeBarChart" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Patients Overview Bar Chart</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" id="scrollWrapper">
                                    <div class="chart-area">
                                        <canvas id="patientBarChart" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            {% endblock content %}


{% block cstm_javascript %}
  <script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    
    {% if request.user.is_superuser %}
    const clinic = "0"
    {% elif request.user.is_admin %}
    const clinic = "{{request.user.clinic_id}}"
    {% endif %}
    const form = document.getElementById('filter_form');

    const genderPieChart = document.getElementById("GenderWisePieChart");
    const agePieChart = document.getElementById("AgeWisePieChart");
    
    const incomeLineChart = document.getElementById("incomeLineChart");
    const patientLineChart = document.getElementById("patientLineChart");

    const incomeBarChart = document.getElementById("incomeBarChart");
    const patientBarChart = document.getElementById("patientBarChart");

    const month_name = {{ month_name|safe }}
    const gender_label = {{ gender_label|safe }}
    const gender_values = {{ gender_values|safe }}

    const age_dict = {{ age_dict|safe }}
    const age_label = {{ age_label|safe }}
    const age_values = {{ age_values|safe }}

    const amount_records_dict = {{ amount_records_dict|safe }}
    const amount_yearly_dict = {{ amount_yearly_dict|safe }}
    const patient_records_dict = {{ patient_records_dict|safe }}
    const patient_yearly_dict = {{ patient_yearly_dict|safe }}
    const all_amount_yearly_dict = {{all_amount_yearly_dict|safe}}
    const all_patient_yearly_dict = {{all_patient_yearly_dict|safe}}

    function number_format(number, decimals, dec_point, thousands_sep){
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + '').replace(',', '').replace(' ', '');
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
          var k = Math.pow(10, prec);
          return '' + Math.round(n * k) / k;
        };
        
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return s.join(dec);
    }

    // Pie Chart Example
    function circleChart(label, values, element){
      let pieChart = new Chart(element, {
        type: 'doughnut',
        data: {
          labels: label,
          datasets: [{
            data: values,
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#e46f78', '#EFCC1A'], //['#4e73df', '#1cc88a', '#36b9cc', '#EFCC1A'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#dc3545', '#ffc107'], //['#2e59d9', '#17a673', '#2c9faf', '#ffc107'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          }],
        },
        options: {
          maintainAspectRatio: false,
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
          },
          legend: {
            display: false
          },
          cutoutPercentage: 80,
        },
      });
    }

    function drawLineCharts(labels, values, label, element, label_end=''){
      let lineChart = new Chart(element, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: label,
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 5,
            pointBorderWidth: 2,
            data: values,
          }],
        },
        options: {
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 25,
              bottom: 0
            }
          },
          scales: {
            xAxes: [{
              time: {
                unit: 'date'
              },
              gridLines: {
                display: false,
                drawBorder: false
              },
              ticks: {
                maxTicksLimit: 12 
              }
            }],
            yAxes: [{
              ticks: {
                maxTicksLimit: 12,
                padding: 10,
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "black",
                drawBorder: true,
                borderDash: [2],
                zeroLineBorder: [2]
              }
            }],
          },
          legend: {
            display: false
          },
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
              label: function(tooltipItem, chart) {
                let datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + label_end;
              }
            }
          }
        }
      });
    }
    

    function drawBarCharts(labels, values, label, element, label_end=''){
      let barChart = new Chart(element, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: label,
            data: values,
            backgroundColor: "#4e73df",
            borderColor: "#4e73df",
            borderWidth: 1,
            hoverBackgroundColor: "#2e59d9",
            hoverBorderColor: "rgba(78, 115, 223, 1)",
          }],
        },
        options: {
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 25,
              bottom: 0
            }
          },
          scales: {
            xAxes: [{
              gridLines: {
                display: false,
                drawBorder: false
              },
              ticks: {
                maxTicksLimit: 12
              },
              maxBarThickness: 25
            }],
            yAxes: [{
              ticks: {
                maxTicksLimit: 10,
                padding: 10,
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "black",
                drawBorder: true,
                borderDash: [2],
                zeroLineBorder: [2]
              }
            }],
          },
          legend: {
            display: false
          },
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
              label: function(tooltipItem, chart) {
                let datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + label_end;
              }
            }
          }
        }
      });
    }


    document.addEventListener("DOMContentLoaded", function(){
      if (clinic=="0"){
        d = all_amount_yearly_dict
        d2 = all_patient_yearly_dict
      }
      else{
        d = amount_yearly_dict[clinic]
        d2 = patient_yearly_dict[clinic]
      }

      drawLineCharts(Object.keys(d), Object.values(d), "Yearly Earnings", incomeLineChart, label_end=' ₹')
      drawLineCharts(Object.keys(d2), Object.values(d2), "Yearly Patients", patientLineChart)

      drawBarCharts(Object.keys(d), Object.values(d), "Yearly Earnings", incomeBarChart, label_end=' ₹')
      drawBarCharts(Object.keys(d2), Object.values(d2), "Yearly Patients", patientBarChart)

      circleChart(gender_label, gender_values, genderPieChart)
      circleChart(age_label, age_values, agePieChart)

      
      form.addEventListener('submit', function(event) {
        event.preventDefault();
        let cl = document.getElementById('clinic').value;
        let fl = document.getElementById('filter').value;

        // for specific clinic
        if (cl == clinic){
          if(filter=='all_monthly'){
            
          }
          else if(filter=='current_year_monthly'){
            
          }
          else if(filter=='current_month_daily'){
            
          }
          else{ //all yearly
            d = amount_yearly_dict[clinic]
            d2 = patient_yearly_dict[clinic]
          }
        }
        else{ // for all
          if(filter=='all_monthly'){
            
          }
          else if(filter=='current_year_monthly'){
            
          }
          else if(filter=='current_month_daily'){
            
          }
          else{ //all yearly
            d = all_amount_yearly_dict
            d2 = all_patient_yearly_dict
          }
        }
        
        drawLineCharts(Object.keys(amount_yearly_dict), Object.values(amount_yearly_dict), "Monthly Earnings", incomeLineChart)
      })
    });

  </script>

{% endblock %}