{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }

  </style>
</head>

<body class="" style="background:#e6f7ff;">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center" style="min-height: 100vh; padding-top:18%;">

            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- Left Side with Background Image -->
                            <div class="col-lg-6 d-none d-lg-block" style="background-image: url({% static 'img/doctor-patient-management.webp' %}); background-size: cover; background-position: center; min-height: 50vh;">
                            </div>
                            <!-- Right Side with Form -->
                            <div class="col-lg-6">
                                <div class="d-flex flex-column justify-content-center p-5" style="height:100%;">
                                    <div class="text-center">
                                        <h3 class="h4 text-gray-900 mb-4">Verify OTP!</h3>
                                        <p>We have sent a 5 digits verification code to your email id. Enter the code from the email in the field below.</p>
                                        
                                        {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger alert-dismissible fade show pr-3" role="alert">
                                                <strong>{{ message }}</strong>
                                                <button type="button" class="btn-danger btn-close" data-dismiss="alert" aria-label="Close" style="float:right; margin-top:-3px;">X</button>
                                            </div>
                                            {% else %}
                                            <div class="alert alert-{{message.tags}} alert-dismissible fade show pr-3" role="alert">
                                                <strong>{{ message }}</strong>
                                                <button type="button" class="btn-{{message.tags}} btn-close" data-dismiss="alert" aria-label="Close" style="float:right; margin-top:-3px;">X</button>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="number" name="otp" maxlength="5" minlength="5" pattern="^[0-9]{5}$" title="otp should be 5 digits" class="form-control form-control-user" 
                                            placeholder="00000" required style="text-align: center;">
                                        </div>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Verify OTP">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>

</html>