{% extends 'layout.html' %}
            {% block content %}
                <div class="justify-content-center">
                    <h3 class="" style="">User Profile</h3>

                    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data" id="profile_form">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-6"><label class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" style="width: 100%;"
                                     maxlength="50" oninput="validateInput(this)" value="{{request.user.username}}" required disabled>
                            </div>
                            <div class="col-sm-6"><label class="form-label">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email" style="width: 100%;" 
                                    maxlength="100" value="{{request.user.email}}" oninput="validateInput(this)" required disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-6"><label class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name" style="width: 100%;" 
                                    maxlength="25" {% if request.user.first_name %}value="{{request.user.first_name}}"{% endif %} required>
                            </div>
                            <div class="col-sm-6"><label class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name" style="width: 100%;" 
                                    maxlength="25" {% if request.user.last_name %}value="{{request.user.last_name}}"{% endif %}  required>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">                                                
                            <div class="col-sm-6"><label class="form-label">Profile Image</label>
                                <input type="file" class="form-control"  name="profile_img" placeholder="Profile Image" style="width: 100%;" 
                                accept="image/png, image/jpeg">
                          </div>
                          {% if request.user.profile_img %}
                          <div style="margin-top:20px; margin-left:10px;">
                            <img src="{{request.user.profile_img.url}}" style="width:50px; height:50px;">
                          </div>
                          {% endif %}
                        </div>
                        <button class="btn btn-primary" id="update_profile" name="profile_submit" type="submit" style="margin-top: 20px;">Update Profile</button>
                    </form>
                </div>

            {% endblock %}
                {% comment %} <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#ClinicModal">
                    Open Contact Form
                </button> {% endcomment %}
                
                            
                {% comment %} <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">S.no.</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Profile Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table> {% endcomment %}
            
    
    